.flow{
  
    background-color:#49630db0;
    min-height: 100vh;
    background-size:cover;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.flow-c {
    background-color:#55ad02c9;
}

