.getstarted_btn{
    
    margin-top: 20px;
    font-size: 18px;
    font-family: 'Baloo 2', cursive;
    border: 1.5px solid black;
    margin-inline: 5px;
    box-shadow: 4px 4px;
    font-weight: 700;
    cursor: pointer;
    background-color: white ;
}
.getstarted_btn:hover{
    background-color: rgba(141, 143, 8, 0.664);
}
.getstarted_btn:active {
    
    box-shadow: 0px 0px;
    transform: translateY(4px);
  }
.Home{
    background: url(./imgs/81D8wlJJVPL._SL1500_.jpg) no-repeat center center fixed;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-size: cover;
    top: 0;
    left: 0;
   
    right: 0;
    


   
    

    
    
    background-size: fill;
    
    background-repeat: no-repeat;
    
}
.container_first{
    text-align: center;
    
}
.title_text{
    font-weight: 800;
    font-size: 60px;
    font-family: 'Baloo 2', cursive;
    color: rgba(177, 180, 11, 0.822);
    background: rgba(10, 10, 10, 0.842);
    border-radius: 20px;
    
}
.subtitle_text{
    font-size: 20px;
    font-weight: 600;
    font-family: 'Baloo 2', cursive;
    color: rgb(164, 192, 5);
    background: rgba(7, 7, 7, 0.842);
}
.text_head{
    border: 1.5px solid black;
    color:black;
    background-color: white;
    box-shadow: 0px 0px 4px 0px;
    
    
    font-family: 'Baloo 2', cursive;
}


