.carousel-item{
  height: 100vh;
  width: 100vw;
}
.carousel-control-prev {
  left: 0;
  background-color: transparent;
}
.carousel-control-next {
  right: 0;
  background-color: transparent;
}
.carousel-item img{
 height: 100vh;
 width: 100vw;
 object-fit: cover;
 
}